extends ../_shared/layout2

block content
    .bg-full-page.back-fixed.ms-hero-img-keyboard.ms-hero-bg-light
        .mw-800.absolute-center
            .card.card-dark-inverse.card-block.animated.zoomInDown.animation-delay-5
                .text-center.mt-2.mb-4
                    span.ms-icon.ms-icon-circle.ms-icon-xxlg.color-royal
                        i.zmdi.zmdi-account
                    h2 Connectez-vous
                form(action="/api/login" method="POST")
                    fieldset.pl-3.pr-3.text-center.white-box
                        .form-group.label-floating
                            .input-group
                                span.input-group-addon.color-white
                                    i.zmdi.zmdi-email
                                input#email(type="email", name="email", placeholder="Adresse e-mail").form-control
                        .form-group.label-floating
                            .input-group
                                span.input-group-addon.color-white
                                    i.zmdi.zmdi-lock
                                input#password(type="password", name="password", placeholder="Mot de passe").form-control
                        .form-group.form-inverse.hidden-xs
                            .input-group
                                .checkbox
                                    label
                                        input(type="checkbox" name="SeSouvenirDeMoi")
                                        i.input-helper
                                        label.color-white Se souvenir de moi ?
                    .row.pr-2.pl-2
                        .col-md-6
                            a.btn.btn-link.btn-sm.color-white(href="/api/register")
                                i.zmdi.zmdi-account-add.mr-1
                                | Je n'ai pas encore de compte
                        .col-md-6
                            button.btn.btn-raised.btn-royal.btn-block(type="submit") Je me connecte
                .row.mt-4.mb-2.text-center
                    a(href="/api/facebook/login").btn-circle.btn-circle-raised.btn-facebook.mr-6
                        i.zmdi.zmdi-facebook
                    a(href="/api/twitter/login").btn-circle.btn-circle-raised.btn-twitter.mr-6
                        i.zmdi.zmdi-twitter
                    a(href="/api/google/login").btn-circle.btn-circle-raised.btn-google.mr-6
                        i.zmdi.zmdi-google