extends ../_shared/layout

block content
    .bg-full-page.back-fixed.ms-hero-img-keyboard.ms-hero-bg-light
        .mw-800.absolute-center
            .card.card-dark-inverse.card-block.animated.zoomInDown.animation-delay-5
                .text-center.mt-2.mb-4
                span.ms-icon.ms-icon-circle.ms-icon-xxlg.color-royal
                    i.zmdi.zmdi-account
                h2 Connectez-vous
            